<script src="/js/main.js"></script>
<footer>
    <div class="container">
        <p>&copy; <span id="currentYear"></span> <span class="logo-text"><%= title %></span></span>. All rights reserved.</p>
    </div>
    
</footer>
