<link rel="stylesheet" href="/css/styles.css">
<header>
    
    <nav class="navbar">
        <div class="container nav-container">
            <a href="/" class="logo">
                <span class="logo-text">Hex<span class="accent">Web</span></span>
            </a>
            <ul class="menu">
                <li><a href="/#home" class="home-link">Home</a></li>
                <li><a href="#" class="store-link">Store</a></li>
                <li><a href="/#about">About</a></li>
                <li><a href="/#services">Services</a></li>
                <li><a href="/#contact">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>
